@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply mb-2; /* Adds margin-bottom of 1.5rem (24px) to paragraphs */
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 244, 244, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div {
  color: rgb(var(--foreground-rgb));
}

html {
  @apply motion-safe:scroll-smooth;
}

.layout-md {
  @apply max-w-screen-md mx-auto px-4 sm:px-6;
}

.pill {
  @apply flex items-center text-sm font-medium;
  @apply px-1.5 py-[1px] mr-1.5 mb-2 bg-neutral-100 rounded-full;
}
